---
layout: archive
permalink: /cloud/
title: "Cloud"
author_profile: true
---
{% include minimenu.html %}

<h2>
  <i class="fa fa-fw fa-music" aria-hidden="true"></i>
  Artists
</h2>

<p class="page__taxonomy">
  <span itemprop="keywords">
  {% assign items = site.tags | sort %}
  {% for item in items %}
    {% assign num = item.last.size %}
    {% assign factor = num %}
    {% if factor > 10 %}{% assign factor = 10 %}{% endif %}
    <span style="font-size: {{ factor | times: 10 | plus: 60 }}%">
      <a href="/concerts/tags/#{{ item | first | slugify }}">{{ item | first | replace:'-',' ' }}</a>
      ({{ num }})
    </span>
  {% endfor %}
  </span>
</p>

<h2>
  <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
  Venues
</h2>

<p class="page__taxonomy">
  <span itemprop="keywords">
  {% assign items = site.categories | sort %}
  {% for item in items %}
    {% assign num = item.last.size %}
    {% assign factor = num %}
    {% if factor > 10 %}{% assign factor = 10 %}{% endif %}
    <span style="font-size: {{ factor | times: 10 | plus: 60 }}%">
      <a href="/concerts/categories/#{{ item | first | slugify }}">{{ item | first | replace:'-',' ' }}</a>
      ({{ num }})
    </span>
  {% endfor %}
  </span>
</p>

