# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

locale: "ie"
title: "tr ouwens"
subtitle: "Jan Ouwens ▷ by the way, things I want to say"
name: "Jan Ouwens"
description: "Jan Ouwens ▷ tr ouwens ▷ by the way, things I want to say ▷ all the concerts that I went to"
baseurl: "/concerts"
search: true

author:
  name: "Jan Ouwens"
  avatar: "images/avatar.jpg"
  bio: "I go to concerts a lot"
  location: "The Netherlands"
  lastfm: "jqno"
  twitter: "jqno"
  mastodon: "https://mastodon.online/@jqno"

twitter:
  username: jqno

footer:
  links:
    - label: "Privacy Policy"
      url: "https://jqno.nl/privacy"
    - label: "Climate considerations"
      url: "/climate"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/jqno"
    - label: "Mastodon"
      icon: "fab fa-fw fa-mastodon"
      url: "https://mastodon.online/@jqno"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jqno"

defaults:
  - scope:
      path: ""
      type: posts
    values:
      permalink: /:year/:month/:day/:title/
      layout: single
      author_profile: true
      header:
        og_image: "images/card.jpg"
      read_time: false
      comments: false
      share: false
      related: false
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      header:
        overlay_image: "images/banner.jpg"
        og_image: "images/card.jpg"
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# Build settings
remote_theme: mmistakes/minimal-mistakes@4.20.2
plugins:
  - jekyll-feed
  - jekyll-include-cache

# Reading files
include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
  - docker-compose.yml
  - Dockerfile

github: [metadata]
